· ENV
VITE_SUPABASE_URL=https://yhzwsmhidsuafqlsgmon.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InloendzbWhpZHN1YWZxbHNnbW9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MzI1NDUsImV4cCI6MjA5NTAwODU0NX0.Y2BnLyEHndrcOSk5UuygruMSIr7tZ57DtlD1_bqPDE4
 